# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok

# Environment variables.
.env

# Anchor 
solana_contracts/SolanaManager/node_modules/
solana_contracts/SolanaManager/.anchor

# NodeJS
node_modules
